<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{header :: header-links}"></div>
    <style>
        .text-danger {
        color: #ff0000 !important; /* vermelho forte */
        font-weight: bold;
        font-size: 1rem;
        display: block;
        margin-top: 5px;
        text-shadow: 0 0 2px rgba(0,0,0,0.2);
    }
    </style>
</head>
<body>
<div th:replace="~{menu :: menu-bar}"></div>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <h2 class="page-title float-left" th:text="${modoEdicao} ? 'Edição de Promissoria' : 'Cadastro de Promissoria'"></h2>
                <ol class="breadcrumb float-right" style="background-color: #e6d9fc;">
                    <li class="breadcrumb-item"><a th:href="@{/home}" style="color: #6610f2;">Home</a></li>
                    <li class="breadcrumb-item active"><a th:href="@{/PromissoriaListar}" style="color: #6610f2;">Promissorias</a></li>
                </ol>
            </div>
        </div>
    </div>
    <!-- Basic Card Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h4 class="m-0 font-weight-bold" style="color: #6610f2;" th:text="${modoEdicao} ? 'Editar Promissoria' : 'Nova Promissoria'"></h4>
        </div>
        <div class="card-body">
            <form name="cadastrarpromissoria" th:action="@{/PromissoriaSalvar}" th:object="${promissoria}" method="POST">
                <div class="form-row">
                    <input type="hidden" class="form-control form-control-user"
                           id="idpromissoria" name="idpromissoria" aria-describedby="ID do promissoria"
                           th:field="*{idPromissoria}" readonly="readonly" placeholder="">
                    <div class="form-group col-md-4">
                        <label for="idcliente" class="col-form-label">Cliente</label>
                        <select th:field="*{cliente}" name="idcliente" id="idcliente" class="form-control form-control-user">
                            <option value="">Selecione</option>
                            <option th:each="cli : ${clientes}"
                                    th:value="${cli.idCliente}"
                                    th:text="${cli.nomeCliente}"
                                    th:selected="${promissoria.cliente != null and promissoria.cliente.idCliente == cli.idCliente}">
                            </option>
                        </select>
                        <span th:if="${#fields.hasErrors('cliente')}" th:errors="*{cliente}" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="idproduto" class="col-form-label">Produto</label>
                        <select th:field="*{produto}" name="idproduto" id="idproduto" class="form-control form-control-user">
                            <option value="">Selecione</option>
                            <option th:each="prod : ${produtos}"
                                    th:value="${prod.idProduto}"
                                    th:text="${prod.nomeProduto}"
                                    th:selected="${promissoria.produto != null and promissoria.produto.idProduto == prod.idProduto}">
                            </option>
                        </select>
                        <span th:if="${#fields.hasErrors('produto')}" th:errors="*{produto}" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="qtdVendida" class="col-form-label">Qtd. Vendida</label>
                        <input type="number" step="1" class="form-control form-control-user"
                               id="qtdVendida" name="qtdVendida" aria-describedby="Quantidade vendida"
                               th:field="*{qtdVendida}" placeholder="Informe a quantidade vendida">
                        <span th:if="${#fields.hasErrors('qtdVendida')}" th:errors="*{qtdVendida}" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="dataEmissao" class="col-form-label">Data de Emissão</label>
                        <input type="date" class="form-control form-control-user"
                               id="dataEmissao" name="dataEmissao" aria-describedby="Data de emissão"
                               th:field="*{dataEmissao}" placeholder="Informe a data de emissão">
                        <span th:if="${#fields.hasErrors('dataEmissao')}" th:errors="*{dataEmissao}" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="dataValidade" class="col-form-label">Data de Validade</label>
                        <input type="date" class="form-control form-control-user"
                               id="dataValidade" name="dataValidade" aria-describedby="Data de validade"
                               th:field="*{dataValidade}" placeholder="Informe a data de validade">
                        <span th:if="${#fields.hasErrors('dataValidade')}" th:errors="*{dataValidade}" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="status" class="col-form-label">Status</label>
                        <select th:field="*{status}" name="status" id="status" class="form-control form-control-user">
                            <option value="">Selecione</option>
                            <option value="NÃO PAGO">NÃO PAGO</option>
                            <option value="PAGO">PAGO</option>
                        </select>
                        <span th:if="${#fields.hasErrors('status')}" th:errors="*{status}" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <input class="btn btn-facebook btn-user btn-block" style="background-color: #6610f2;" type="submit" name="cadastrar" id="cadastrar" value="Cadastrar"/>
                    </div>
                    <div class="form-group col-md-6">
                        <input class="btn btn-facebook btn-user btn-block" style="background-color: #6610f2;" type="reset" name="limpar" id="limpar" value="Limpar">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</div>

<footer th:replace="~{footer :: footer-content}" class="mt-auto"></footer>
</div>
</div>

<script src="https://unpkg.com/inputmask@5.0.8/dist/inputmask.min.js"></script>
<script>
    window.addEventListener("DOMContentLoaded", function () {
        const valor = document.getElementById("valor");

        if (valor) {
            Inputmask({
                alias: "currency",
                prefix: "R$ ",
                groupSeparator: ".",
                radixPoint: ",",
                digits: 2,
                digitsOptional: false,
                rightAlign: false,
                autoUnmask: true
            }).mask(valor);
        }
    });
</script>

</body>
</html>